:root {
  --color-primary: #0f3f8f;
  --color-dark: #2b2b2b;
  --color-white: #fafbff;
  --color-light-gray: #808080;
  --spacing: 1rem;
  --radius: 1rem;
  color-scheme: light;
}

body {
  font-family: 'Inter', 'Arial', sans-serif;
  background: linear-gradient(
    135deg,
    var(--color-primary) 0%,
    var(--color-dark) 100%
  );
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 2rem var(--spacing);
  flex: 1;
}
